.auth {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.auth__video-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
  flex-direction: column;
  object-fit: cover;
}

.auth-form {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 60px;
  border-radius: 5px;
  background-color: var(--color-white);
  z-index: 10;
}

.auth-form__header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.auth-form__icon-logo {
  width: 90px;
  height: auto;
  margin-right: 20px;
}

.auth__input {
  padding: 25px;
  display: block;
  background-color: var(--color-input);
}

.auth__input,
.auth-form__submit-btn {
  width: 320px;
  border: none;
  font-family: Montserrat;
}

.auth-form__submit-btn {
  display: flex;
  justify-content: center;
  padding: 25px 20px;
  margin: 5px auto;
  font-size: var(--text-sm);
  color: var(--color-white);
  background-color: var(--color-black);
}

.auth__label {
  padding: 5px 0;
  color: var(--color-white);
}

.auth__label,
.auth-form__link {
  display: block;
}

.auth-form__link {
  padding-top: 30px;
  color: var(--color-text-secondary);
}

.auth-form__social-btn-bg {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  background-color: var(--color-black);
  transition: background-color 0.3s ease;
}

.auth-form__social-btns {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.auth-form__social-btn {
  width: 80px;
  padding: 8px;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: var(--color-input);
  transition: background 0.2s ease;
  cursor: pointer;
}

.auth-form__social-btn-icon {
  width: 25px;
  height: auto;
}

.auth-form__social-btn:hover {
  background-color: #ddd;
}

.auth-form__social-btn:first-child:hover .auth-form__social-btn-bg {
  background-color: #4169e1;
}

.auth-form__social-btn:nth-child(2):hover .auth-form__social-btn-bg {
  background-color: #f79418;
}

.auth-form__social-btn:nth-child(3):hover .auth-form__social-btn-bg {
  background-color: #fc3d17;
}

.auth__select-wrapper {
  width: 320px;
  position: relative;
  border: 2px solid transparent;
  background-color: var(--color-input);
  cursor: pointer;
  transition: border 0.3s ease;
}

.auth__select-value {
  padding: 25px;
  font-size: var(--text-sm);
  color: var(--color-text-secondary);
}

.auth__arrow {
  width: 16px;
  height: 9px;
  position: absolute;
  top: 50%;
  right: 16px;
  background-image: url(/arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease;
  pointer-events: none;
}

.auth__select-wrapper.register_open .auth__arrow {
  transform: translateY(-50%) rotate(180deg);
}

.register_options {
  max-height: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-top: 1px solid #ccc;
  border-radius: 0 0 8px 8px;
  overflow-y: auto;
  background: var(--color-input);
  color: var(--color-text-secondary);
  z-index: 10;
  animation: register_curtainDown 0.3s ease-out;
}

.register_option {
  padding: 12px 25px;
  cursor: pointer;
  font-size: var(--text-sm);
}

.register_option:hover {
  background-color: #f0f0f0;
}

@keyframes register_curtainDown {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }

  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .auth-form {
    padding: 20px;
  }

  .auth__input,
  .auth__select-value {
    padding: 14px;
  }

  .auth-form__submit-btn {
    padding: 14px 10px;
  }

  .auth-form__icon-logo {
    width: 50px;
  }

  .auth-form__header {
    margin-bottom: 14px;
  }
}
