.history-slider {
  --slide-height: 180px;
  --slide-size: 220px;
}

.history-slider__viewport {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.history-slider__container {
  display: flex;
  flex-wrap: nowrap;
  touch-action: pan-y pinch-zoom;
}

.history-slider__item {
  width: var(--slide-size);
  min-width: var(--slide-size);
  height: var(--slide-height);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 0 auto;
  position: relative;
  scroll-snap-align: start;
}

.history-slider__item .slide-circle {
  justify-content: flex-start;
}

.history-slider__item:after {
  content: "";
  position: absolute;
  top: 23px;
  left: 52px;
  display: block;
  width: 171px;
  height: 1px;
  margin-top: 4px;
  background-color: var(--color-black);
  transition: width 0.3s ease;
}

.history-slider__circle-wrapper {
  position: relative;
  width: 54px;
  height: 54px;
  cursor: pointer;
}

.history-slider__circle-svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  width: 54px;
  height: 54px;
}

.history-slider__year-container {
  position: relative;
  z-index: 10;
}

.history-slider__year {
  text-transform: uppercase;
  color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  user-select: none;
}

.history-slider__content {
  width: 200px;
  padding-top: 10px;
  color: #575855;
  user-select: none;
}

.history-slider__button-group {
  display: flex;
  gap: 24px;
  padding-left: 15px;
  padding-bottom: 15px;
}
