.history__slider-wrapper {
  display: flex;
  gap: 10px;
  position: relative;
  touch-action: pan-y;
  scroll-snap-type: x mandatory;
}

.history__slider-item:after {
  content: "";
  position: absolute;
  top: 23px;
  left: 57px;
  display: block;
  width: 82%;
  height: 1px;
  margin-top: 4px;
  background-color: var(--color-black);
  transition: width 0.3s ease;
}

.history__slider-item {
  width: 220px;
  min-width: 200px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 0 auto;
  position: relative;
  border-radius: 8px;
  scroll-snap-align: start;
  perspective: 1000px;
}

.history__slider-item .slide-circle {
  justify-content: flex-start;
}

@media (min-width: 1910px) {
  .history__slider-item:after {
    width: 85%;
    left: 51px;
  }
}

@media (max-width: 1880px) {
  .history__slider-item:after {
    width: 85%;
    left: 52px;
  }
}

@media (max-width: 1710px) {
  .history__slider-item:after {
    width: 86%;
    left: 50px;
  }
}

@media (max-width: 1400px) {
  .history__slider-item:after {
    width: 84%;
    left: 53px;
  }
}

@media (max-width: 1270px) {
  .history__slider-item:after {
    width: 85%;
    left: 51px;
  }
}

@media (max-width: 768px) {
  .history__slider-item:after {
    width: 85%;
    left: 51px;
  }
}

.scroller {
  max-width: 1440px;
  overflow: auto;
  cursor: -webkit-grab;
  cursor: grab;
}

.scroller:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.scroller__inner {
  padding-block: 1rem;
  flex-wrap: nowrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 80s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-animated="true"].vertical .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scrollY var(--_animation-duration, 90s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@keyframes scrollY {
  to {
    transform: translateY(calc(-50% - 0.5rem));
  }
}

.scroller.horizontal {
  display: flex;
}

.scroller__inner {
  display: flex;
  flex-direction: row;
}

.circle-wrapper {
  position: relative;
  width: 54px;
  height: 54px;
  cursor: pointer;
}

.circle-svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  width: 54px;
  height: 54px;
}

.year-container {
  position: relative;
  z-index: 10;
}

.year-container:hover .tooltip {
  display: block;
}

.year-container:hover .scroller.horizontal {
  height: 90vh;
}

.year {
  text-transform: uppercase;
  color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
}

.content {
  width: 200px;
  padding-top: 10px;
  color: #575855;
}

.active {
  background-color: var(--color-black);
  border-radius: 54px;
  color: var(--color-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
