/*----------------------------------------
/*  Brand video gallery section
/*----------------------------------------*/

.video-gallery-wrapper {
  padding: 20px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  gap: 30px;
}

.video-thumbnail {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.video-frame {
  width: 100%;
  height: auto;
  border: none;
  position: relative;
  z-index: -10;
}

.playIcon {
  position: absolute;
  bottom: 45%;
  cursor: pointer;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.video-gallery__close-btn {
  position: fixed;
  z-index: 51;
  top: 40px;
  right: 24px;
}

.video-gallery__modal {
  width: 100%;
  max-width: 80%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 50;
  background: transparent;
  border: none;
  box-shadow: none;
}

.video-gallery__modal-btn {
  position: absolute;
  left: -5vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-white);
  transition: background-color 0.2s ease;
}

.video-gallery__modal-btn_right {
  right: -5vw;
  left: auto;
}

@media (max-width: 768px) {
  .video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    gap: 30px;
  }
}

@media (max-width: 480px) {
  .video-gallery-wrapper {
    margin: 0 12px;
  }

  .video-frame {
    height: 200px;
    object-fit: cover;
  }

  .video-gallery__close-btn {
    top: 10px;
    right: 0;
  }

  .video-gallery__close-btn {
    top: 10px;
    right: 0;
  }
}
