.main-page__hero-section .fullscreen-media__inner {
  object-position: top;
}

/*----------------------------------------*/
/*  Biography section
/*----------------------------------------*/

.biography {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "photo bio-text"
    "photo signature"
    "photo executive-data";
  align-items: center;
  padding: 55px 13px;
  column-gap: 40px;
  row-gap: 14px;
}

.biography__photo {
  min-width: 260px;
  height: 260px;
}

.biography__photo-wrapper {
  grid-area: photo;
}

.biography__bio-text {
  grid-area: bio-text;
  font-weight: 300;
}

.biography__executive-data {
  grid-area: executive-data;
}

.biography__name {
  font-weight: 500;
}

.biography__position {
  font-weight: 500;
}

.biography__signature {
  grid-area: signature;
  width: 180px;
  align-self: baseline;
}

@media (max-width: 610px) {
  .biography {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "photo"
      "bio-text"
      "executive-data"
      "signature";
    row-gap: 14px;
  }

  .biography__photo-wrapper {
    justify-self: center;
  }
}

@media (max-width: 480px) {
  .biography {
    grid-template-columns: 2fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "photo photo"
      "bio-text bio-text"
      "executive-data signature";
  }
}

/*----------------------------------------*/
/*  Company section
/*----------------------------------------*/

.company {
  display: flex;
  min-height: 535px;
  margin-bottom: 60px;
  overflow: hidden;
}

.company__text-wrapper {
  width: 30%;
  padding-right: 50px;
  margin-left: 25px;
}

.company__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.company__video-wrapper {
  position: absolute;
  right: 0;
  width: 65%;
  height: 500px;
}

.company__texts-column {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.company__text {
  padding-top: 10px;
  padding-right: 50px;
  color: var(--color-text-secondary);
}

@media (max-width: 1536px) {
  .company__video-wrapper {
    width: 69%;
  }
}

@media (max-width: 1280px) {
  .company {
    height: auto;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .company__video-wrapper {
    aspect-ratio: 17 / 9;
    width: 100%;
    height: auto;
    position: relative;
  }

  .company__text-wrapper {
    padding: 15px 0;
    width: 100%;
  }

  .company__texts-column {
    flex-direction: row;
  }
}

@media (max-width: 480px) {
  .company {
    position: relative;
  }

  .company__text-wrapper {
    column-count: unset;
    padding-right: 0;
  }

  .company__texts-column {
    flex-direction: column;
  }
}

/*----------------------------------------*/
/*  History section
/*----------------------------------------*/

.history__title {
  padding-left: 15px;
}

@media (max-width: 480px) {
  .history {
    padding-bottom: 0;
    margin-top: 70px;
  }
}

/*----------------------------------------*/
/*  Portfolio section
/*----------------------------------------*/

.portfolio {
  background-color: var(--color-background-secondary);
  padding: 80px 0;
}

.portfolio__wrapper {
  padding: 0 15px;
}

.portfolio__list-wrapper {
  width: 100%;
  display: flex;
  gap: 14%;
  padding-left: 20px;
}

.portfolio__list-wrapper div {
  flex: 1;
  border-right: 0.5px solid var(--color-black);
}

.portfolio__list-wrapper div:last-child {
  border-right: none;
}

.portfolio__items {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.portfolio__item {
  color: #575855;
  width: min-content;
  padding: 0;
}

.portfolio__item-text {
  width: fit-content;
  padding: 8px 0;
  color: #575855;
  font-weight: 500;
}

.portfolio__list-circle {
  margin-bottom: 25px;
  list-style-type: disc;
  text-transform: uppercase;
}

@media (max-width: 1280px) {
  .portfolio__list-wrapper {
    gap: 12%;
  }
}

@media (max-width: 768px) {
  .portfolio__list-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .portfolio__list-wrapper div {
    padding-bottom: 15px;
    border-right: none;
    border-bottom: 0.5px solid var(--color-black);
  }

  .portfolio__list-wrapper div:last-child {
    border-bottom: none;
  }
}

/*----------------------------------------*/
/*  Test section
/*----------------------------------------*/

.footer {
  height: 486px;
}

.footer__wrapper {
  background: url(/assets/images/footer-bg.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  padding-top: 80px;
}

@media (max-width: 768px) {
  .footer {
    height: 230px;
    background-size: contain;
  }

  .footer__wrapper {
    height: 230px;
  }
}

@media (max-width: 480px) {
  .footer__wrapper {
    background-size: contain;
    background-position: bottom;
    padding-top: 60px;
  }

  .footer__content {
    margin: 0 auto;
    text-align: center;
  }
}

/*----------------------------------------*/
/*  Values section
/*----------------------------------------*/
.values {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 80px 20px;
  gap: 50px;
  margin: 0 auto;
}

.values__header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.values__grid {
  display: grid;
  row-gap: 40px;
  column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.value-card {
  gap: 24px;
  display: flex;
  cursor: pointer;
}

.value-card__column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.value-card__title {
  font-weight: 700;
}

.value-card__image {
  flex: 1;
  min-width: 300px;
  height: 250px;
  border-radius: 12px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.value-card:hover {
  .value-card__image {
    filter: grayscale(0%);
  }
}

@media (max-width: 1280px) {
  .value-card {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .values__description {
    max-width: 100%;
  }

  .value-card__image {
    height: 250px;
  }

  .value-card__column {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .values__grid {
    grid-template-columns: auto;
  }
}
