.animation-logo {
  position: fixed;
  top: 20px;
  right: 10%;
  width: 7.1rem;
  height: auto;
  z-index: 10;
}

@media (max-width: 1360px) {
  .animation-logo {
    position: fixed;
    top: 30px;
    right: 35px;
    width: 7.1rem;
    height: auto;
    z-index: 10;
  }
}

@media (max-width: 1280px) {
  .animation-logo {
    position: fixed;
    top: 40px;
    right: 35px;
    width: 6.1rem;
    height: auto;
    z-index: 10;
  }
}

@media (max-width: 768px) {
  .animation-logo {
    top: 20px;
    right: 35px;
    width: 6.1rem;
  }
}

@media (max-width: 565px) {
  .animation-logo {
    top: 45px;
    right: 8px;
    width: 4rem;
  }
}

@media (max-width: 490px) {
  .animation-logo {
    margin-top: 1rem;
    transition: opacity 0.3s ease;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }

  .animation-logo.visible {
    opacity: 1;
    left: 40px;
    width: 2.8rem;
    top: -8px;
    max-height: 500px;
    transition: opacity 0.3s ease;
  }
}
