.images-gallery {
  padding: 1rem;
  overflow-x: auto;
}

.images-gallery__scroll {
  display: flex;
  gap: 16px;
  padding-top: 20px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  scroll-behavior: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.images-gallery__slider-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  height: 400px;
  cursor: pointer;
  overflow: hidden;
  animation: waveAnimation 2s ease-in-out infinite;
  display: inline-block; /* важно для анимации */
}

/* Волнообразное движение */
@keyframes waveAnimation {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.images-gallery__image {
  height: 100%;
  width: auto;
  object-fit: cover;
  border-radius: 8px;
}

.images-gallery__image_modal {
  width: 100%;
}

.images-gallery__modal {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 50;
  background: transparent;
  border: none;
  box-shadow: none;
}

.images-gallery__modal-btn {
  position: absolute;
  left: -10vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-white);
  transition: background-color 0.2s ease;
}

.images-gallery__modal-btn_right {
  right: -10vw;
  left: auto;
}

.images-gallery__close-btn {
  position: fixed;
  z-index: 51;
  top: 40px;
  right: 24px;
}

@media (max-width: 490px) {
  .images-gallery {
    margin-left: 15px;
  }

  .images-gallery__close-btn {
    top: 10px;
    right: 0;
  }
}
