/*----------------------------------------
/*  Brand Bio section
/*----------------------------------------*/

.brand-bio {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  gap: 30px;
}

.brand-bio__texts,
.brand-bio__videos {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.brand-bio__video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.brand-bio__video-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/*----------------------------------------
/*  Brand Quiz section
/*----------------------------------------*/
.test-wrapper {
  max-width: 1400px;
  width: 100%;
  height: 400px;
  background-size: contain;
  margin: 15px auto;
  justify-content: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  transition: background-position 0.6s ease, background-color 0.6s ease;
  background-size: auto, auto, auto, auto;
  background-position: 0 0, 13% 0, 0 100%, 100%;
  background-repeat: no-repeat;
  z-index: 0;
  background-repeat: no-repeat;
}

.test-content,
.test-wrapper {
  display: flex;
  align-items: center;
}

.test-content {
  flex-direction: column;
}

.test-title {
  font-size: 32px;
  font-weight: 700;
}

.test-wrapper.carolina {
  background-color: #f3f3f3;
}

.test-wrapper.penhaligons {
  background-color: #e2e3e8;
}

.test-wrapper.pacorabanne {
  background-color: #e4e4e4;
}

.test-wrapper.lartisanparfumeur {
  background-color: #ecdbcb;
}

.test-wrapper.ninaricci {
  background-color: #faeede;
}

.test-wrapper.banderas {
  background-color: #e9e7e6;
}

.test-wrapper.jeanpaulgaultier {
  background-color: #ede6df;
}

.test-wrapper > * {
  position: relative;
  z-index: 1;
}

.test-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) skewX(-20deg);
  width: 520px;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
  z-index: 0;
}

.test-wrapper:hover:after {
  opacity: 1;
}

.test-wrapper:hover {
  background-position: calc(0% - 35px) top, calc(13% - 30px) 0,
    calc(0% - 15px) bottom, calc(100% + 30px);
}

.test-wrapper.carolina:after {
  background-color: #fff;
}

.test-wrapper.carolina:hover:after {
  background-color: #fcfcfc;
}

.test-wrapper.penhaligons:after {
  background-color: #e2e3e8;
}

.test-wrapper.penhaligons:hover:after {
  background-color: #ebebf0;
}

.test-wrapper.pacorabanne:after {
  background-color: #e4e4e4;
}

.test-wrapper.pacorabanne:hover:after {
  background-color: #eeeeee;
}

.test-wrapper.lartisanparfumeur:after {
  background-color: #ecdbcb;
}

.test-wrapper.lartisanparfumeur:hover:after {
  background-color: #fae9d9;
}

.test-wrapper.ninaricci:after {
  background-color: #faeede;
}

.test-wrapper.ninaricci:hover:after {
  background-color: #fdfdf0;
}

.test-wrapper.banderas:after {
  background-color: #e9e7e6;
}

.test-wrapper.banderas:hover:after {
  background-color: #f5f3f2;
}

.test-wrapper.jeanpaulgaultier:after {
  background-color: #ede6df;
}

.test-wrapper.jeanpaulgaultier:hover:after {
  background-color: #f3ece7;
}

.take_test:hover {
  background-color: #000;
  color: #fff;
}

@media (max-width: 480px) {
  .test-wrapper {
    background-size: 30%, 35%, 60%, auto;
    background-position: -4% center, 13% 0, -80px bottom, 100px;
  }

  .test-title {
    font-size: 20px;
  }
}
