/*----------------------------------------
/*  Brand Bio section
/*----------------------------------------*/

.brand-bio {
  display: flex;
  flex-wrap: wrap;
}

.brand-bio__text-wrapper {
  display: flex;
  gap: 95px;
  margin-left: 30px;
}

.brand-bio__content-item {
  width: 50%;
}

.brand-bio__subtitle {
  color: var(--color-text-secondary);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.brand-bio__text {
  width: 100%;
  max-width: 455px;
  margin-right: 3%;
  color: var(--color-text-secondary);
  font-size: 16px;
  font-weight: 300;
}

.brand-bio__video-group {
  display: grid;
  grid-template-columns: 65% auto;
  column-gap: 95px;
  row-gap: 20px;
  margin: 30px 30px 0;
  grid-template-areas:
    "video text-1"
    "video text-2"
    "video text-3";
}

.brand-bio__video-wrapper {
  grid-area: video;
}

.brand-bio__video-group-text-1 {
  grid-area: text-1;
}

.brand-bio__video-group-text-2 {
  grid-area: text-2;
}

.brand-bio__video-group-text-3 {
  grid-area: text-3;
}

.brand-bio__video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.brand-bio__video-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 1440px) {
  .brand-bio__text-wrapper {
    width: 100%;
  }

  .brand-bio__text-wrapper,
  .brand-bio__video-group {
    gap: 60px;
  }
}

@media (max-width: 1360px) {
  .brand-bio__text-wrapper {
    width: 90%;
  }

  .brand-bio__text-wrapper,
  .brand-bio__video-group {
    gap: 35px;
  }
}

@media (max-width: 1320px) {
  .brand-bio__text-wrapper {
    width: 85%;
  }

  .brand-bio__text-wrapper,
  .brand-bio__video-group {
    gap: 35px;
  }
}

@media (max-width: 1160px) {
  .brand-bio__text-wrapper {
    width: 85%;
  }
}

@media (max-width: 960px) {
  .brand-bio {
    width: 100%;
  }

  .brand-bio__text-wrapper {
    width: 90%;
    gap: 55px;
  }

  .brand-bio__content-item {
    margin-right: 15px;
  }

  .brand-bio__content-item p {
    width: 100%;
  }

  .brand-bio__video-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "text-1 video"
      "text-2 video"
      "text-3 video";
  }
}

@media (max-width: 768px) {
  .brand-bio__text-wrapper {
    width: 100%;
    gap: 0;
  }
}

@media (max-width: 720px) {
  .brand-bio__text-wrapper {
    width: 90%;
    gap: 0;
  }
}

@media (max-width: 620px) {
  .brand-bio__text-wrapper {
    flex-wrap: wrap;
    width: 98%;
    gap: 35px;
  }

  .brand-bio__video-group {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "text-1"
      "video"
      "text-2"
      "text-3";
  }

  .brand-bio__video {
    max-width: 455px;
  }

  .brand-bio__content-item {
    width: 100%;
  }
}

/*----------------------------------------
/*  Brand Quiz section
/*----------------------------------------*/
.test-wrapper {
  max-width: 1400px;
  width: 100%;
  height: 400px;
  background-size: contain;
  margin: 15px auto;
  justify-content: center;
  background-size: cover;
}

.test-content,
.test-wrapper {
  display: flex;
  align-items: center;
}

.test-content {
  flex-direction: column;
}

.test-title {
  font-size: 32px;
  font-weight: 700;
}

.bg-animated {
  position: relative;
  overflow: hidden;
  transition: background-position 0.6s ease, background-color 0.6s ease;
  background-size: auto, auto, auto, auto;
  background-position: 0 0, 13% 0, 0 100%, 100%;
  background-repeat: no-repeat;
  z-index: 0;
  background-image: url("/assets/images/brands/footer/brand-footer-1.png"),
    url("/assets/images/brands/footer/brand-footer-2.png"),
    url("/assets/images/brands/footer/brand-footer-3.png"),
    url("/assets/images/brands/footer/brand-footer-4.png");
  background-repeat: no-repeat;
}

.bg-animated.carolina {
  background-color: #f3f3f3;
}

.bg-animated.penhaligons {
  background-color: #e2e3e8;
}

.bg-animated.pacorabanne {
  background-color: #e4e4e4;
}

.bg-animated.lartisanparfumeur {
  background-color: #ecdbcb;
}

.bg-animated.ninaricci {
  background-color: #faeede;
}

.bg-animated.banderas {
  background-color: #e9e7e6;
}

.bg-animated.jeanpaulgaultier {
  background-color: #ede6df;
}

.bg-animated > * {
  position: relative;
  z-index: 1;
}

.bg-animated:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) skewX(-20deg);
  width: 520px;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
  z-index: 0;
}

.bg-animated:hover:after {
  opacity: 1;
}

.bg-animated:hover {
  background-position: calc(0% - 35px) top, calc(13% - 30px) 0,
    calc(0% - 15px) bottom, calc(100% + 30px);
}

.bg-animated.carolina:after {
  background-color: #fff;
}

.bg-animated.carolina:hover:after {
  background-color: #fcfcfc;
}

.bg-animated.penhaligons:after {
  background-color: #e2e3e8;
}

.bg-animated.penhaligons:hover:after {
  background-color: #ebebf0;
}

.bg-animated.pacorabanne:after {
  background-color: #e4e4e4;
}

.bg-animated.pacorabanne:hover:after {
  background-color: #eeeeee;
}

.bg-animated.lartisanparfumeur:after {
  background-color: #ecdbcb;
}

.bg-animated.lartisanparfumeur:hover:after {
  background-color: #fae9d9;
}

.bg-animated.ninaricci:after {
  background-color: #faeede;
}

.bg-animated.ninaricci:hover:after {
  background-color: #fdfdf0;
}

.bg-animated.banderas:after {
  background-color: #e9e7e6;
}

.bg-animated.banderas:hover:after {
  background-color: #f5f3f2;
}

.bg-animated.jeanpaulgaultier:after {
  background-color: #ede6df;
}

.bg-animated.jeanpaulgaultier:hover:after {
  background-color: #f3ece7;
}

.take_test:hover {
  background-color: #000;
  color: #fff;
}
